<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.lims.transfer.dao.OldLimsCaseQueueMapper">

  <resultMap id="BaseResultMap" type="com.bazl.lims.transfer.model.po.TransferCaseQueue">
    <id column="ID" jdbcType="VARCHAR" javaType="java.lang.String" property="id" />
    <result column="SAMPLE_BARCODE" jdbcType="VARCHAR" javaType="java.lang.String" property="sampleBarcode" />
    <result column="CASE_ID" jdbcType="VARCHAR" javaType="java.lang.String" property="caseId" />
    <result column="STATUS" jdbcType="INTEGER" javaType="int" property="transferStatus" />
    <result column="FILENAME" jdbcType="VARCHAR" javaType="java.lang.String" property="transferFileName" />
    <result column="FILENAME" jdbcType="VARCHAR" javaType="java.lang.String" property="failedMsg" />
    <result column="CREATE_AT" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="OPERATE_AT" jdbcType="TIMESTAMP" property="transferDatetime" />
    <result column="LAB_SERVER_NO" jdbcType="VARCHAR" property="labServerNo" />
    <result column="QUEUE_TYPE" jdbcType="VARCHAR" property="queueType" />
  </resultMap>

  <sql id="Base_Column_List" >
    q.ID, q.SAMPLE_BARCODE, q.STATUS, q.FILENAME, q.CREATE_AT, q.OPERATE_AT as transferDatetime,
    q.QUEUE_TYPE, '' as CREATE_USER, '' as LAB_SERVER_NO
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.bazl.lims.transfer.model.po.TransferCaseQueue">
    select
      <include refid="Base_Column_List" />,
    q.SAMPLE_BARCODE as CASE_ID
    from OUEUE_SAMPLE@link2lims q
    where q.STATUS=#{transferStatus, jdbcType=INTEGER} and q.QUEUE_TYPE='15'
  </select>

  <update id="updateStatus" parameterType="com.bazl.lims.transfer.model.po.TransferCaseQueue">
    update OUEUE_SAMPLE@link2lims
    set STATUS=#{transferStatus, jdbcType=INTEGER},
        FILENAME=#{transferFileName, jdbcType=VARCHAR},
        OPERATE_AT=#{transferDatetime, jdbcType=TIMESTAMP}
    where ID=#{id, jdbcType=VARCHAR}
  </update>

  <insert id="insertQueueType" parameterType="com.bazl.lims.transfer.model.po.TransferCaseQueue">
    insert into OUEUE_SAMPLE@link2lims(ID, SAMPLE_BARCODE, STATUS, CREATE_AT, QUEUE_TYPE)
    values (#{id,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR}, #{transferStatus,jdbcType=INTEGER},
      #{createDatetime,jdbcType=TIMESTAMP}, #{queueType,jdbcType=INTEGER})
  </insert>

  <insert id="insertQueueDetail" parameterType="com.bazl.lims.transfer.model.po.TransferCaseQueue">
    insert into QUEUE_DETAIL@link2lims(ID, QUEUE_ID, BARCODE, CASE_ID, CREATE_AT, STATUS)
    values (#{id,jdbcType=VARCHAR}, #{queueId,jdbcType=VARCHAR},  #{sampleBarcode,jdbcType=VARCHAR},
    #{caseId,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, #{transferStatus,jdbcType=INTEGER})
  </insert>

</mapper>